# IntelliJ IDEA files
.idea/

# Visual Studio Code files
.vscode/

# Local .terraform directories
**/.terraform/*

# Local .terraform.lock.hcl files
.terraform.lock.hcl

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Plan files
tfplan
